{% extends "Scriptly/base.html" %}
{% load i18n %}
{% load scriptly_tags %}

{% block breadcrumbs %}
    {% if job.script_version and job.script_version.script %}
        <li>
            <a href="{% url 'scriptly:script_group_detail' group_id=job.script_version.script.script_group.id %}?script_id={{ job.script_version.script.id }}">
                {{ job.script_version.script.script_name }}
            </a>
        </li>
    {% endif %}
    <li><a href="#">Job #{{ job.id }}</a></li>
{% endblock breadcrumbs %}

{% block center_content_class %}col-md-12{% endblock center_content_class %}
{% block page_content_class %}status-{{ job.status|lower }}{% endblock page_content_class %}

{% block center_content %}
    {% if job_error %}
        <h1 class="text-center text-danger">{{ job_error }}</h1>
    {% else %}
        <div class="page-header d-flex justify-content-between align-items-center">
            <div>
                <h2 class="mb-1">{{ job.job_name }}</h2>
                <small class="text-muted">{{ job.job_description }}</small>
                <div class="job-metadata mt-2">
                    • Submitted {{ job.created_date|timesince }} ago by {{ job.user }}
                    <span class="label label-{{ job.status|lower }}">
                        <span class="glyphicon glyphicon-{{ job.status|lower }}"></span> {{ job.status|capfirst }}
                    </span>
                </div>
            </div>
        </div>

        <div id="job-outputs" class="mt-4">
            {% if output_files.Output %}
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Output Files</strong></div>
                    <ul class="list-group">
                        {% for file in output_files.Output %}
                            <li class="list-group-item">
                                <a href="{{ file.url }}" download>{{ file.filename }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="alert alert-warning mt-3">
                    <strong>No output files found.</strong>
                </div>
            {% endif %}
        </div>

        <div class="panel panel-default mt-4">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-console"></span> Console Output
                <a class="icon icon-collapse pull-right" data-toggle="collapse" data-target="#collapse-console" href="#collapse-console"></a>
            </div>
            <div id="collapse-console" class="panel-collapse collapse in">
                <div class="panel-body console">
                    <h5><strong>Command:</strong></h5>
                    <pre class="bg-light p-2 border rounded" style="white-space: pre-wrap; word-break: break-word;">{{ job.command }}</pre>

                    {% if job.stdout %}
                        <h5 class="mt-3"><strong>Standard Output (stdout):</strong></h5>
                        <pre class="bg-success text-white p-3 rounded" style="white-space: pre-wrap;">{{ job.stdout }}</pre>
                    {% endif %}

                    {% if job.stderr %}
                        <h5 class="mt-3"><strong>Standard Error (stderr):</strong></h5>
                        <pre class="bg-danger text-white p-3 rounded" style="white-space: pre-wrap;">{{ job.stderr }}</pre>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock center_content %}
