{% extends "Scriptly/base.html" %}
{% load i18n %}
{% load scriptly_tags %}

{% block breadcrumbs %}
    <li><a href="{{ job.script_version.script.get_url }}">{{ job.script_version.script.script_name }}</a></li>
    <li><a href="#">{% blocktrans with job_id=job.id %}Job #{{ job_id }}{% endblocktrans %}</a></li>
{% endblock breadcrumbs %}

{% block center_content_class %}col-md-12 col-xs-12{% endblock center_content_class %}
{% block page_content_class %}status-{{ job.status|lower }}{% endblock page_content_class %}

{% block center_content %}
    {% if job_error %}
        <h1 class="text-center">{{ job_error }}</h1>
    {% else %}
        <div class="page-header">
            <div class="pull-right">
                {% if job.status == 'completed' %}
                    {% for file in output_files %}
                        <a href="{{ file.url }}" role="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            {% trans "Download Output" %}
                        </a>
                        {% break %} {# Show only one main download button #}
                    {% endfor %}
                {% endif %}
            </div>
            <h1>{{ job.job_name }} <small>{{ job.job_description }}</small></h1>
            <div class="job-metadata">
                • {% trans "Priority 1" %}
                • {% blocktrans with job_submission_date=job.created_date|timesince job_user=job.user %}Submitted {{ job_submission_date }} ago by {{ job_user }}{% endblocktrans %}
                • {% blocktrans with job_last_modified_date=job.modified_date|timesince %}Updated {{ job_last_modified_date }} ago{% endblocktrans %}
                <span class="label label-{{ job.status|lower }}">
                    <span class="glyphicon glyphicon-{{ job.status|lower }}"></span> {{ job.status|capfirst }}
                </span>
            </div>
        </div>

        <div id="job-outputs" class="row">
            {% for output_group, output_files_group in file_groups.items %}
                {% for output_file in output_files_group %}
                    {% if output_group %}
                        {% include 'Scriptly/preview/'|add:output_group|add:'.html' %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail panel panel-{{ 'danger' if job.stderr else 'default' }}">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-console"></span> {% trans "Console Output" %}
                        <a class="icon icon-collapse" data-toggle="collapse" data-target="#collapse-console" href="#collapse-console"></a>
                    </div>
                    <div id="collapse-console" class="panel-collapse collapse in">
                        <div class="panel-body console">
                            <pre class="console-body console-command">{{ job.command }}</pre>
                            <pre id="console-stdout" class="console-body console-stdout">{{ job.stdout|linebreaksbr }}</pre>
                            <pre id="console-stderr" class="console-body console-stderr">{{ job.stderr|linebreaksbr }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock center_content %}
